body{
        font-family: 'Fira Sans', sans-serif; 
}


.header_block{
        position:absolute;
        z-index: 9999;
        background-color:white;
        width:100%;
        box-sizing:border-box;
}

.logo{
        padding:15px;
}

.contact_info{
        display:flex;
        align-items:center;
        padding:0 !important;
       /* margin-top:30px;*/
}

.top_ico{
        margin:1vw;
       
}

.menu_list{

        margin-top:30px;
        margin-right:none;
        list-style:none;
        width:100%;        
}

.menu_item{
        display:inline-block;
        margin:5px;

}

.menu_item_link{        
        
}


.slider{
        background-color:#12bcd3;
        height:100vh;}


.slider-mid{
        background-color:#2e139b;
        height:70vh;
}


.map{
        height:70vh;

}


.info_module{
        position:relative;
        top:-60vh;
        left:30vw;
        height:35vh;
        width:300px;
        background-color:rgba(73, 0, 0, 0.5);
        border-radius:10px;
}


.footer{
        height:40vh;
}